In [1]:
import pandas as pd

In [3]:
data=pd.read_csv("demo1_historic.csv")

In [7]:
d=data.groupby('Age')

In [8]:
d

In [11]:
d.groups

{20: Int64Index([  6,  26,  41,  67, 128, 149, 165, 175, 190, 205, 206, 213, 240,
             251, 253, 280, 291, 303, 321, 337, 346, 382, 473, 538, 578, 603,
             684, 689, 717, 737, 746, 775, 852, 859, 906, 944, 947, 955, 979],
            dtype='int64'),
 21: Int64Index([ 13,  54,  60, 193, 207, 229, 256, 295, 409, 424, 460, 475, 490,
             506, 546, 631, 635, 738, 777, 799, 810, 901, 948, 998],
            dtype='int64'),
 22: Int64Index([ 28,  44, 101, 109, 111, 130, 156, 189, 204, 226, 257, 259, 273,
             307, 315, 330, 341, 397, 399, 402, 438, 466, 523, 531, 585, 589,
             637, 759, 764, 791, 805, 822, 824, 828, 886, 889, 911, 916, 932,
             933, 943, 946, 970],
            dtype='int64'),
 23: Int64Index([214, 275, 305, 318, 405, 415, 495, 504, 512, 542, 545, 553, 568,
             582, 586, 600, 655, 743, 755, 774, 793, 800, 816, 842, 845, 881,
             902, 980],
            dtype='int64'),
 24: Int64Index([  3,  73,  89, 192, 236, 261, 323, 334, 344, 350, 378, 420, 435,
             444, 448, 483, 518, 602, 633, 682, 690, 700, 704, 710, 756, 762,
             779, 795, 825, 851, 867, 869, 871, 874, 877, 879, 897],
            dtype='int64'),
 25: Int64Index([ 19,  27,  33,  82, 113, 120, 167, 187, 208, 235, 265, 285, 352,
             379, 398, 434, 449, 524, 540, 581, 584, 626, 639, 646, 668, 679,
             784, 819, 849, 913, 937, 961, 969],
            dtype='int64'),
 26: Int64Index([ 22,  39, 100, 145, 178, 181, 238, 239, 333, 340, 404, 429, 445,
             471, 502, 508, 567, 588, 622, 675, 708, 730, 741, 742, 763, 776,
             820, 908, 936, 975, 985, 993],
            dtype='int64'),
 27: Int64Index([  7, 105, 106, 108, 126, 174, 201, 310, 329, 385, 396, 436, 443,
             516, 555, 630, 654, 656, 671, 673, 678, 735, 753, 796, 804, 854,
             860, 907, 938, 967, 988, 991],
            dtype='int64'),
 28: Int64Index([ 20,  36,  83,  98, 103, 104, 155, 184, 185, 231, 277, 278, 364,
             370, 376, 410, 427, 458, 521, 525, 554, 561, 572, 628, 695, 703,
             731, 732, 823, 836, 853, 918, 950, 952],
            dtype='int64'),
 29: Int64Index([  8,  16,  66, 183, 221, 243, 252, 279, 326, 339, 342, 401, 417,
             461, 493, 510, 550, 556, 558, 570, 617, 624, 657, 661, 713, 807,
             900, 921, 996],
            dtype='int64'),
 30: Int64Index([ 17,  62, 171, 212, 269, 297, 319, 356, 363, 383, 478, 718, 744,
             749, 841, 846, 883, 898, 981, 989],
            dtype='int64'),
 31: Int64Index([ 30,  45,  52,  55,  86,  90,  94, 159, 160, 260, 270, 366, 367,
             494, 514, 527, 535, 549, 596, 640, 641, 681, 702, 814, 832, 880,
             896, 910, 953, 999],
            dtype='int64'),
 32: Int64Index([ 35,  63,  69, 121, 136, 138, 139, 202, 294, 309, 349, 361, 368,
             381, 395, 447, 451, 479, 498, 499, 598, 611, 636, 658, 665, 721,
             781, 847, 904, 995],
            dtype='int64'),
 33: Int64Index([134, 191, 219, 222, 232, 247, 250, 276, 298, 306, 375, 414, 464,
             469, 482, 497, 528, 533, 592, 614, 650, 660, 669, 677, 722, 729,
             754, 761, 767, 844, 856, 875, 905, 924, 941, 959, 960],
            dtype='int64'),
 34: Int64Index([  9,  70,  75,  78, 125, 164, 169, 182, 186, 246, 254, 328, 335,
             345, 362, 371, 425, 441, 517, 537, 559, 649, 683, 697, 736, 766,
             833, 919, 925, 929],
            dtype='int64'),
 35: Int64Index([ 76, 131, 162, 188, 230, 237, 241, 262, 272, 284, 302, 308, 320,
             353, 357, 369, 416, 423, 453, 467, 548, 551, 566, 576, 577, 599,
             680, 709, 734, 843, 865, 956, 990],
            dtype='int64'),
 36: Int64Index([ 31,  68,  85, 135, 137, 203, 271, 360, 391, 426, 439, 487, 501,
             526, 563, 565, 594, 609, 694, 714, 773, 787, 788, 792, 803, 809,
             862, 914, 973, 978],
            dtype='int64'),
 37: Int64Index([  1,  14,  18,  21,  53,  59,  77,  81, 129, 132, 152, 153, 170,
             211, 218, 283, 286, 292, 313, 324, 359, 403, 411, 413, 442, 496,
             505, 532, 543, 643, 693, 726, 739, 772, 868, 885, 891, 903, 923,
             930, 940],
            dtype='int64'),
 38: Int64Index([ 34,  48,  84,  93, 110, 146, 166, 209, 217, 228, 263, 288, 290,
             317, 332, 365, 412, 500, 529, 564, 573, 575, 605, 802, 811, 957,
             983],
            dtype='int64'),
 39: Int64Index([ 42,  57,  58, 114, 124, 141, 142, 199, 227, 281, 287, 336, 474,
             481, 485, 503, 530, 606, 613, 651, 674, 698, 758, 770, 826, 840,
             848, 866, 915],
            dtype='int64'),
 40: Int64Index([ 32,  49,  72,  87, 117, 119, 147, 194, 258, 266, 274, 282, 300,
             314, 322, 358, 388, 394, 418, 422, 477, 513, 515, 536, 562, 571,
             607, 691, 706, 733, 760, 808, 829, 830, 839, 884, 909, 962, 963,
             965, 986],
            dtype='int64'),
 41: Int64Index([  0,  15,  24,  47,  97, 102, 223, 244, 304, 400, 408, 421, 432,
             433, 472, 476, 484, 507, 539, 620, 629, 696, 705, 712, 720, 768,
             789, 794, 964, 971],
            dtype='int64'),
 42: Int64Index([ 29,  46,  51,  65,  80,  91,  95, 140, 172, 177, 264, 325, 327,
             338, 372, 374, 446, 455, 465, 519, 520, 522, 579, 580, 587, 595,
             632, 652, 687, 699, 701, 715, 747, 757, 771, 783, 827, 837, 861,
             931, 951, 954, 966, 994],
            dtype='int64'),
 43: Int64Index([ 23,  74,  96,  99, 123, 144, 173, 220, 225, 289, 301, 312, 468,
             486, 488, 612, 618, 623, 659, 670, 672, 692, 707, 719, 727, 748,
             817, 838, 850, 864, 942, 968, 976, 982, 984],
            dtype='int64'),
 44: Int64Index([ 11,  12,  50, 127, 176, 224, 293, 316, 348, 351, 380, 386, 430,
             489, 492, 534, 591, 608, 615, 627, 638, 663, 688, 752, 778, 882,
             887, 890, 922],
            dtype='int64'),
 45: Int64Index([ 38,  56, 115, 118, 133, 148, 163, 168, 215, 268, 384, 392, 431,
             452, 541, 547, 569, 583, 597, 644, 645, 653, 724, 725, 750, 765,
             797, 821, 863, 872, 873, 876, 912, 972, 987],
            dtype='int64'),
 46: Int64Index([ 43,  61, 179, 195, 197, 347, 419, 450, 456, 662, 664, 676, 711,
             716, 728, 751, 769, 780, 786, 798, 801, 813, 899, 928],
            dtype='int64'),
 47: Int64Index([ 40,  64,  79,  92, 151, 154, 161, 180, 210, 233, 267, 311, 480,
             560, 574, 590, 601, 604, 642, 685, 785, 806, 917, 997],
            dtype='int64'),
 48: Int64Index([  4,   5,  37, 107, 122, 158, 198, 200, 216, 234, 248, 389, 390,
             407, 437, 459, 616, 619, 625, 647, 831, 834, 835, 855, 857, 870,
             878, 892, 893, 958, 992],
            dtype='int64'),
 49: Int64Index([  2,  10,  71,  88, 112, 116, 143, 196, 245, 299, 343, 387, 393,
             428, 454, 462, 463, 470, 509, 511, 544, 552, 666, 740, 790, 894,
             920, 926, 927, 939],
            dtype='int64'),
 50: Int64Index([ 25, 150, 157, 242, 249, 255, 296, 331, 354, 355, 373, 377, 406,
             440, 457, 491, 557, 593, 610, 621, 634, 648, 667, 686, 723, 745,
             782, 812, 815, 818, 858, 888, 895, 934, 935, 945, 949, 974, 977],
            dtype='int64')}

In [17]:
d.get_group(21)

,ID,Age,Is_Married,Has_Children,Children_Count,Home_Distance,Drinks_Tea,Lectures_Missed,Average_Assignments_Score,Exam_Result
13,S14,21,0,0,0,41,0,10,44,0
54,S55,21,0,0,0,24,1,3,72,0
60,S61,21,0,0,0,46,1,8,59,0
193,S194,21,0,0,0,17,0,3,76,1
207,S208,21,0,0,0,37,1,7,49,0
229,S230,21,0,0,0,13,0,3,75,0
256,S257,21,1,0,0,35,0,6,72,1
295,S296,21,1,1,8,30,0,4,56,1
409,S410,21,1,0,0,48,0,9,85,0
424,S425,21,0,0,0,30,0,0,98,1
460,S461,21,1,1,2,26,0,8,13,1
475,S476,21,0,0,0,42,1,10,48,0
490,S491,21,1,1,1,23,0,5,94,1
506,S507,21,0,0,0,45,1,2,22,0
546,S547,21,1,1,2,31,0,7,61,1
631,S632,21,1,1,1,37,1,3,71,0
635,S636,21,0,0,0,37,1,4,61,0
738,S739,21,1,1,3,26,0,3,49,1
777,S778,21,0,0,0,12,1,9,75,1
799,S800,21,0,0,0,10,0,5,32,0
810,S811,21,1,0,0,34,0,9,46,0
901,S902,21,0,0,0,3,0,4,21,1
948,S949,21,0,0,0,1,1,0,56,0
998,S999,21,0,0,0,15,0,4,75,1

In [22]:
d.ngroups

31

In [25]:
d.Age.nunique()

Age
20    1
21    1
22    1
23    1
24    1
25    1
26    1
27    1
28    1
29    1
30    1
31    1
32    1
33    1
34    1
35    1
36    1
37    1
38    1
39    1
40    1
41    1
42    1
43    1
44    1
45    1
46    1
47    1
48    1
49    1
50    1
Name: Age, dtype: int64

In [29]:
d.groups.items()

dict_items([(20, Int64Index([  6,  26,  41,  67, 128, 149, 165, 175, 190, 205, 206, 213, 240,
            251, 253, 280, 291, 303, 321, 337, 346, 382, 473, 538, 578, 603,
            684, 689, 717, 737, 746, 775, 852, 859, 906, 944, 947, 955, 979],
           dtype='int64')), (21, Int64Index([ 13,  54,  60, 193, 207, 229, 256, 295, 409, 424, 460, 475, 490,
            506, 546, 631, 635, 738, 777, 799, 810, 901, 948, 998],
           dtype='int64')), (22, Int64Index([ 28,  44, 101, 109, 111, 130, 156, 189, 204, 226, 257, 259, 273,
            307, 315, 330, 341, 397, 399, 402, 438, 466, 523, 531, 585, 589,
            637, 759, 764, 791, 805, 822, 824, 828, 886, 889, 911, 916, 932,
            933, 943, 946, 970],
           dtype='int64')), (23, Int64Index([214, 275, 305, 318, 405, 415, 495, 504, 512, 542, 545, 553, 568,
            582, 586, 600, 655, 743, 755, 774, 793, 800, 816, 842, 845, 881,
            902, 980],
           dtype='int64')), (24, Int64Index([  3,  73,  89, 192, 236, 261, 323, 334, 344, 350, 378, 420, 435,
            444, 448, 483, 518, 602, 633, 682, 690, 700, 704, 710, 756, 762,
            779, 795, 825, 851, 867, 869, 871, 874, 877, 879, 897],
           dtype='int64')), (25, Int64Index([ 19,  27,  33,  82, 113, 120, 167, 187, 208, 235, 265, 285, 352,
            379, 398, 434, 449, 524, 540, 581, 584, 626, 639, 646, 668, 679,
            784, 819, 849, 913, 937, 961, 969],
           dtype='int64')), (26, Int64Index([ 22,  39, 100, 145, 178, 181, 238, 239, 333, 340, 404, 429, 445,
            471, 502, 508, 567, 588, 622, 675, 708, 730, 741, 742, 763, 776,
            820, 908, 936, 975, 985, 993],
           dtype='int64')), (27, Int64Index([  7, 105, 106, 108, 126, 174, 201, 310, 329, 385, 396, 436, 443,
            516, 555, 630, 654, 656, 671, 673, 678, 735, 753, 796, 804, 854,
            860, 907, 938, 967, 988, 991],
           dtype='int64')), (28, Int64Index([ 20,  36,  83,  98, 103, 104, 155, 184, 185, 231, 277, 278, 364,
            370, 376, 410, 427, 458, 521, 525, 554, 561, 572, 628, 695, 703,
            731, 732, 823, 836, 853, 918, 950, 952],
           dtype='int64')), (29, Int64Index([  8,  16,  66, 183, 221, 243, 252, 279, 326, 339, 342, 401, 417,
            461, 493, 510, 550, 556, 558, 570, 617, 624, 657, 661, 713, 807,
            900, 921, 996],
           dtype='int64')), (30, Int64Index([ 17,  62, 171, 212, 269, 297, 319, 356, 363, 383, 478, 718, 744,
            749, 841, 846, 883, 898, 981, 989],
           dtype='int64')), (31, Int64Index([ 30,  45,  52,  55,  86,  90,  94, 159, 160, 260, 270, 366, 367,
            494, 514, 527, 535, 549, 596, 640, 641, 681, 702, 814, 832, 880,
            896, 910, 953, 999],
           dtype='int64')), (32, Int64Index([ 35,  63,  69, 121, 136, 138, 139, 202, 294, 309, 349, 361, 368,
            381, 395, 447, 451, 479, 498, 499, 598, 611, 636, 658, 665, 721,
            781, 847, 904, 995],
           dtype='int64')), (33, Int64Index([134, 191, 219, 222, 232, 247, 250, 276, 298, 306, 375, 414, 464,
            469, 482, 497, 528, 533, 592, 614, 650, 660, 669, 677, 722, 729,
            754, 761, 767, 844, 856, 875, 905, 924, 941, 959, 960],
           dtype='int64')), (34, Int64Index([  9,  70,  75,  78, 125, 164, 169, 182, 186, 246, 254, 328, 335,
            345, 362, 371, 425, 441, 517, 537, 559, 649, 683, 697, 736, 766,
            833, 919, 925, 929],
           dtype='int64')), (35, Int64Index([ 76, 131, 162, 188, 230, 237, 241, 262, 272, 284, 302, 308, 320,
            353, 357, 369, 416, 423, 453, 467, 548, 551, 566, 576, 577, 599,
            680, 709, 734, 843, 865, 956, 990],
           dtype='int64')), (36, Int64Index([ 31,  68,  85, 135, 137, 203, 271, 360, 391, 426, 439, 487, 501,
            526, 563, 565, 594, 609, 694, 714, 773, 787, 788, 792, 803, 809,
            862, 914, 973, 978],
           dtype='int64')), (37, Int64Index([  1,  14,  18,  21,  53,  59,  77,  81, 129, 132, 152, 153, 170,
            211, 218, 283, 286, 292, 313, 324, 359, 403, 411, 413, 442, 496,
            505, 532, 543, 643, 693, 726, 739, 772, 868, 885, 891, 903, 923,
            930, 940],
           dtype='int64')), (38, Int64Index([ 34,  48,  84,  93, 110, 146, 166, 209, 217, 228, 263, 288, 290,
            317, 332, 365, 412, 500, 529, 564, 573, 575, 605, 802, 811, 957,
            983],
           dtype='int64')), (39, Int64Index([ 42,  57,  58, 114, 124, 141, 142, 199, 227, 281, 287, 336, 474,
            481, 485, 503, 530, 606, 613, 651, 674, 698, 758, 770, 826, 840,
            848, 866, 915],
           dtype='int64')), (40, Int64Index([ 32,  49,  72,  87, 117, 119, 147, 194, 258, 266, 274, 282, 300,
            314, 322, 358, 388, 394, 418, 422, 477, 513, 515, 536, 562, 571,
            607, 691, 706, 733, 760, 808, 829, 830, 839, 884, 909, 962, 963,
            965, 986],
           dtype='int64')), (41, Int64Index([  0,  15,  24,  47,  97, 102, 223, 244, 304, 400, 408, 421, 432,
            433, 472, 476, 484, 507, 539, 620, 629, 696, 705, 712, 720, 768,
            789, 794, 964, 971],
           dtype='int64')), (42, Int64Index([ 29,  46,  51,  65,  80,  91,  95, 140, 172, 177, 264, 325, 327,
            338, 372, 374, 446, 455, 465, 519, 520, 522, 579, 580, 587, 595,
            632, 652, 687, 699, 701, 715, 747, 757, 771, 783, 827, 837, 861,
            931, 951, 954, 966, 994],
           dtype='int64')), (43, Int64Index([ 23,  74,  96,  99, 123, 144, 173, 220, 225, 289, 301, 312, 468,
            486, 488, 612, 618, 623, 659, 670, 672, 692, 707, 719, 727, 748,
            817, 838, 850, 864, 942, 968, 976, 982, 984],
           dtype='int64')), (44, Int64Index([ 11,  12,  50, 127, 176, 224, 293, 316, 348, 351, 380, 386, 430,
            489, 492, 534, 591, 608, 615, 627, 638, 663, 688, 752, 778, 882,
            887, 890, 922],
           dtype='int64')), (45, Int64Index([ 38,  56, 115, 118, 133, 148, 163, 168, 215, 268, 384, 392, 431,
            452, 541, 547, 569, 583, 597, 644, 645, 653, 724, 725, 750, 765,
            797, 821, 863, 872, 873, 876, 912, 972, 987],
           dtype='int64')), (46, Int64Index([ 43,  61, 179, 195, 197, 347, 419, 450, 456, 662, 664, 676, 711,
            716, 728, 751, 769, 780, 786, 798, 801, 813, 899, 928],
           dtype='int64')), (47, Int64Index([ 40,  64,  79,  92, 151, 154, 161, 180, 210, 233, 267, 311, 480,
            560, 574, 590, 601, 604, 642, 685, 785, 806, 917, 997],
           dtype='int64')), (48, Int64Index([  4,   5,  37, 107, 122, 158, 198, 200, 216, 234, 248, 389, 390,
            407, 437, 459, 616, 619, 625, 647, 831, 834, 835, 855, 857, 870,
            878, 892, 893, 958, 992],
           dtype='int64')), (49, Int64Index([  2,  10,  71,  88, 112, 116, 143, 196, 245, 299, 343, 387, 393,
            428, 454, 462, 463, 470, 509, 511, 544, 552, 666, 740, 790, 894,
            920, 926, 927, 939],
           dtype='int64')), (50, Int64Index([ 25, 150, 157, 242, 249, 255, 296, 331, 354, 355, 373, 377, 406,
            440, 457, 491, 557, 593, 610, 621, 634, 648, 667, 686, 723, 745,
            782, 812, 815, 818, 858, 888, 895, 934, 935, 945, 949, 974, 977],
           dtype='int64'))])

In [26]:
for group_name, group_labels in d.groups.items():
    print('{} students are of age {}'.format(len(group_labels), group_name))

39 students are of age 20
24 students are of age 21
43 students are of age 22
28 students are of age 23
37 students are of age 24
33 students are of age 25
32 students are of age 26
32 students are of age 27
34 students are of age 28
29 students are of age 29
20 students are of age 30
30 students are of age 31
30 students are of age 32
37 students are of age 33
30 students are of age 34
33 students are of age 35
30 students are of age 36
41 students are of age 37
27 students are of age 38
29 students are of age 39
41 students are of age 40
30 students are of age 41
44 students are of age 42
35 students are of age 43
29 students are of age 44
35 students are of age 45
24 students are of age 46
24 students are of age 47
31 students are of age 48
30 students are of age 49
39 students are of age 50